@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(241, 110, 111, 0.5);
  position: relative;
}
.main__container {
  width: min(35em, 96%);
  min-height: min(30em, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 0.8em;
}
.main__container__header {
  width: 96%;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(85, 80, 80, 0.2);
  position: relative;
  margin-bottom: 2em;
}
.main__container__header .top {
  margin-bottom: 0.2em;
}
.main__container__header .btn {
  position: absolute;
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border-radius: 50%;
  border: none;
  color: tomato;
  background-color: bisque;
  bottom: calc(0% - 1.5em);
  right: 0;
  transition: all 0.5s linear;
}
.main__container__header .btn:hover {
  background-color: green;
  cursor: pointer;
}
.main__container__content {
  width: 96%;
  min-height: 20em;
}
.main__container__content ul {
  width: 100%;
  height: 100%;
}
.main__container__content ul li {
  width: 100%;
  min-height: 2em;
  list-style-type: none;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(85, 80, 80, 0.2);
  margin-bottom: 0.5em;
  transition: all 0.5s linear;
}
.main__container__content ul li:hover {
  background-color: rgba(0, 128, 0, 0.2);
  cursor: pointer;
}
.main__container__content ul li p {
  width: 85%;
  display: inline;
  text-transform: capitalize;
}
.main__container__content ul li input {
  display: block;
}
.main__container__content ul li input:hover {
  cursor: pointer;
}
.main__container__content ul li i {
  width: 8%;
  color: tomato;
}
.main__container__content ul li i:hover {
  cursor: pointer;
}

.create_content {
  position: absolute;
  width: min(30em, 80%);
  height: 10em;
  background-color: rgba(120, 204, 138, 0.5);
  -webkit-backdrop-filter: blur(10em);
          backdrop-filter: blur(10em);
  border-radius: 1em;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
}
.create_content label {
  font-weight: 700;
  color: rgb(85, 80, 80);
}
.create_content input {
  width: 90%;
  height: 3em;
  text-align: center;
  border: none;
  border-radius: 0.4em;
  outline: none;
}
.create_content .submit-btn {
  height: 3em;
  width: 8em;
  border-radius: 0.4em;
  border: none;
  transition: all 0.5s linear;
}
.create_content .submit-btn:hover {
  color: whitesmoke;
  background-color: #2c5335;
  cursor: pointer;
}
.create_content .close-btn {
  margin-left: 0.5em;
  height: 3em;
  width: 8em;
  border-radius: 0.4em;
  border: none;
  transition: all 0.5s linear;
}
.create_content .close-btn:hover {
  color: whitesmoke;
  background-color: #aa0a0a;
  cursor: pointer;
}

.marked {
  text-decoration: line-through;
}

.total_task {
  font-weight: 700;
  color: rgba(0, 128, 0, 0.8);
}/*# sourceMappingURL=style.css.map */